@using Domin.Enum

@{
}
@model List<Application_Layer.Dtos.Propert.PropertyDto>

<h2>Property List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Required</th>
            <th>Dropdown Values</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var property in Model)
            {
                <tr>
                    <td>@property.Name</td>
                    <td>@property.Type</td>
                    <td>@(property.Required ? "Yes" : "No")


                    <td>
                            @if (property.Type == PropertyTypes.DropDown)
                            {
                            <ul>
                                    @foreach (var value in property.DropDownValues)
                                    {
                                    <li>@value.Value</li>
                                    }
                            </ul>
                            }
                            else
                            {
                            <span>N/A</span>
                            }
                    </td>


                    <td>
                        <a asp-controller="Property" asp-action="Edit" asp-route-Id="@property.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@property.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No properties found.</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Property</a>

